<div class="main-container">

  <div class="container">
    <div class="row">

      <%= render 'shared/filter' %>

      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>




    </div>
  </div>


  <div id="map">
  </div>
</div>
