
<div class="top-container">
  <div class="top-container-left">
    <div class="description">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.email %></p>
    </div>

  </div>
  <div class="top-container-right" style="background-image: url('<%= photo?(@restaurant) %>');">
  </div>
</div>

<div class="bottom-container">
  <div class="bottom-container-left">
    <div class="fish-cards">
      <% @restaurant.fish_orders.each do |order| %>
      <%= link_to add_fish_order_path(order.id), remote: true, id: "like_#{order.id}" do %>
      <div class="fish-card">
        <div class="fish-card-info">
          <h4><%= order.fish.name %></h4>
          <p><%= order.weight_in_grams %> kg</p>
        </div>
        <div class="fish-card-exit">
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="bottom-container-right">
    <div id="checkout">

    </div>
  </div>
</div>

